<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.i2p.android.router"
      android.versionCode="4206808"
      android.versionName="0.8.6-27_b56-SDK8"
      android:installLocation="preferExternal"
      >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="8" />

    <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher_itoopie" >
        <service android:name=".service.RouterService"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_itoopie" />
        <provider android:name=".provider.CacheProvider"
                  android:authorities="net.i2p.android.router" />
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_itoopie"
                  android.theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewsActivity"
                  android:label="I2P News"
                  android:configChanges="orientation|keyboardHidden"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.TextResourceActivity"
                  android:label="I2P Information"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.LicenseActivity"
                  android:label="I2P License Information"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.WebActivity"
                  android:label="I2P Web Browser"
                  android:configChanges="orientation|keyboardHidden"
                  android.theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*.i2p" android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity"
                  android:label="I2P Settings"
                  android.theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTop" >
        </activity>
        <activity android:name=".activity.AddressbookActivity"
                  android:label="I2P Address Book"
                  android.theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTop" >
        </activity>
        <activity android:name=".activity.LogActivity"
                  android:label="I2P Logs"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.PeersActivity"
                  android:label="I2P Peers and Transport Status"
                  android.theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTop" >
        </activity>
    </application>
</manifest> 
