<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.i2p.android.router"
      android.versionCode="4206788"
      android.versionName="0.8.6-24_b132-SDK3"
      android:installLocation="preferExternal"
      >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 3 = 1.5, 2 = 1.1, 1 = 1.0; would probably work with 1 but don't have a 1.0 SDK to test against -->
    <!-- 3 required for NDK -->
    <uses-sdk android:minSdkVersion="7" />

    <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher_itoopie" >
        <service android:name=".service.RouterService"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_itoopie" />
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_itoopie"
                  android.theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewsActivity"
                  android:label="@string/app_name"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.TextResourceActivity"
                  android:label="@string/app_name"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".activity.LicenseActivity"
                  android:label="@string/app_name"
                  android.theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>
</manifest> 
