<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:sharedUserId="net.i2p">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- following two are for UPnP -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- required for reliable core functionality on Android, see:
    https://geti2p.net/en/docs/applications/embedding
    heading: "Design for and Encourage Long Uptimes"
    -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:icon="@drawable/ic_launcher_itoopie"
        android:label="@string/app_name"
        android:theme="@style/Theme.I2P">
        <service
            android:name=".service.RouterService"
            android:icon="@drawable/ic_launcher_itoopie"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="i2p_router_background_process_required_network_operation"/>
            <intent-filter>
                <action android:name="net.i2p.android.router.service.IRouterState" />
            </intent-filter>
        </service>
        <provider
            android:name=".provider.CacheProvider"
            android:authorities="${applicationId}.provider" />
        <receiver
            android:name=".receiver.OnBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.RemoteStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="net.i2p.android.router.receiver.START_I2P" />
            </intent-filter>
        </receiver>

        <activity
            android:name="net.i2p.android.I2PActivity"
            android:icon="@drawable/ic_launcher_itoopie"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <!-- Console filters -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.i2p.android.router.START_I2P" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.i2p.android.router.service.APPROVE_SAM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Addressbook filters -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_addressbook" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/label_news"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name="net.i2p.android.help.HelpActivity"
            android:label="@string/menu_help"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name="net.i2p.android.help.BrowserConfigActivity"
            android:label="@string/label_browser_configuration"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:label="@string/label_licenses"
            android:parentActivityName="net.i2p.android.help.HelpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.help.HelpActivity" />
        </activity>
        <activity
            android:name=".web.WebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="I2P Web Browser">
            <!-- Disabled, this browser is not very secure
            Temporarily enabled until an alternative browser is ready -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.i2p"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".addressbook.AddressbookSettingsActivity"
            android:label="@string/label_addressbook"
            android:launchMode="singleTop"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".addressbook.AddressbookAddWizardActivity"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name="net.i2p.android.i2ptunnel.TunnelDetailActivity"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name="net.i2p.android.i2ptunnel.preferences.EditTunnelActivity"
            android:label="@string/edit_tunnel"
            android:parentActivityName="net.i2p.android.i2ptunnel.TunnelDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.i2ptunnel.TunnelDetailActivity" />
        </activity>
        <activity
            android:name="net.i2p.android.i2ptunnel.TunnelWizardActivity"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".log.LogActivity"
            android:label="@string/label_logs"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".log.LogDetailActivity"
            android:label="@string/log_entry"
            android:parentActivityName=".log.LogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.router.log.LogActivity" />
        </activity>
        <activity
            android:name=".stats.RateGraphActivity"
            android:label="@string/label_graphs"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".stats.PeersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/label_peers_status"
            android:launchMode="singleTop"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".netdb.NetDbActivity"
            android:label="NetDB"
            android:parentActivityName="net.i2p.android.I2PActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.I2PActivity" />
        </activity>
        <activity
            android:name=".netdb.NetDbDetailActivity"
            android:label="NetDB Detail"
            android:parentActivityName=".netdb.NetDbActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.i2p.android.router.netdb.NetDbActivity" />
        </activity>
    </application>
</manifest>
