name: Release

#on: [push]

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'i2p-android-*.*.*' # Release i2p-firefox-1.2.3
      - 'i2p-android-*.*.*-*' # Release i2p-firefox-1.2.3

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            CHANGELOG.md
          sparse-checkout-cone-mode: false
      - name: sleep 15 minutes
        run: |
          echo "sleeping 20 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 19 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 18 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 17 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 16 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 15 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 14 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 13 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 12 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 11 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 10 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 9 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 8 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 7 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 6 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 5 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 4 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 3 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 2 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 1 minutes to wait for artifacts"
          sleep 1m
      - name: Download artifacts
        id: download-artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          skip_unpack: true
          workflow: ant.yml
          if_no_artifact_found: fail
      # remove .zip file extension
      - run: for f in *.zip; do unzip "$f"; rm "$f"; done
      - run: echo "" | tee -a RELEASE.md
      - run: echo "## Checksums" | tee -a RELEASE.md
      - run: echo "" | tee -a RELEASE.md
      - run: echo '```' | tee -a RELEASE.md
      - run: sha256sum * | tee -a RELEASE.md
      - run: echo '```' | tee -a RELEASE.md
      - run: echo "" | tee -a RELEASE.md
      - run: echo '```' | tee -a RELEASE.md
      - run: file * | tee -a RELEASE.md
      - run: echo '```' | tee -a RELEASE.md
      - run: echo "" | tee -a RELEASE.md
      - name: Upload artifacts
        uses: ncipollo/release-action@v1
        with:
          artifacts: "*"
          bodyFile: "RELEASE.md"
